<html lang="en">
    <% include partials/head %>
    <body>
        <% include partials/header %>

        <div class="container-fluid">
            <% if (typeof user !== 'undefined') { %>
                <h1 class="display-4"><strong>Welcome back,<br> <% user.name %></strong></h1><br>
            <% }else { %>
                <h1 class="display-4"><strong>Create or load a project</strong></h1><br>
                
                <div class="card-deck">
                    <a href="/projects/newproject" style="text-decoration: none;">
                        <div class="card" style="width: 18rem;">
                            <img class="" src="/assets/img/add.png" style="margin: 20px;" width="50px" height="50px" alt="Image of plus icon">
                            <div class="card-body">
                                <h5 class="card-title">New Project</h5>
                                <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
                                <!-- <a href="/projects/newproject" class="btn btn-primary"></a> -->
                            </div>
                            
                        </div>
                    </a>
                    <a href="" style="text-decoration: none;">
                            <div class="card" style="width: 18rem;">
                                <img class="" src="/assets/img/add.png" style="margin: 20px;" width="50px" height="50px" alt="Image of plus icon">
                                <div class="card-body">
                                    <h5 class="card-title">Load Project</h5>
                                    <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
                                    <!-- <a href="/projects/newproject" class="btn btn-primary"></a> -->
                                </div>
                                
                            </div>
                        </a>
                </div>
                <br>
                
                <h1 class="display-4">Or, here are some included projects</h1><br>
                <div class="col-md-6">
                    <div class="card-deck">
                        <% defaultProjects.projects.forEach((p) => { %>
                            <div class="card" style="width: 18rem;">
                                <img src="<%= p.projectIMG %>" class="card-img-top" alt="<%= p.projectIMGalt %>">
                                <div class="card-body">
                                <h5 class="card-title"><%= p.projectName %></h5>
                                <p class="card-text"><%= p.projectDescription %></p>
                                <a href="/projects/loadproject/<%= p.projectName %>"><button  class="btn btn-primary">Load Project</button></a>
                                </div>
                            </div>
                        <% }); %>
                    </div>
                </div>
            <% } %>
        </div>
        <% include partials/scripts %>
    </body>
</html>